.mat-toolbar {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  button {
    background-color: var(--accent-color);
    color: var(--text-color);
  }
  .mat-warn {
    background-color: var(--warn-color);
    color: var(--text-color);
  }
  .mat-card {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .mat-menu {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .mat-slide-toggle-thumb {
    background-color: var(--primary-color);
  }
  .mat-slide-toggle-bar {
    background-color: var(--accent-color);
  }
  /* Aplica las variables a otros componentes según sea necesario */
  /* Variables para el tema claro */
  
  .col-lg-12{
    justify-content:center;
    display:flex;
  }