<p>carrito works!</p>
<div class="row">
  <div class="col-lg-3" *ngFor="let item of productosEnCarrito">
      <!--<ng-container *ngFor="let item of productosEnCarrito"> -->
        
          <div class="card" style="width: 18rem;">
            <img src="{{item.Producto.imagen}}" class="card-img-top" alt="{{item.Producto.nombre}}">
            <div class="card-body">
              <p class="card-text">
                {{ item.Producto.nombre }} <br> {{ item.Producto.precio |  currency:'ARS':'symbol':'1.0-0':'es-AR' }}
                <button (click)="eliminarProductoDelCarrito(item.Producto.idProducto)">Eliminar</button>
                 <br> (cantidad: {{ item.Cantidad }}) <br>
                Subtotal: {{ item.Cantidad * item.Producto.precio |  currency:'ARS':'symbol':'1.0-0':'es-AR' }}
              </p>
              <button type="button" class="btn btn-primary" (click)="restarCantidad(item)">-</button>
              <span>{{ item.Cantidad }}</span>
              <button type="button" class="btn btn-primary" (click)="aumentarCantidad(item)">+</button>
            
            </div>
          </div>
        </div>
        
      <!-- </ng-container> -->

    </div>

      <!-- Contenedor para el subtotal y el botón de confirmación -->
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-3">
      <div class="card">
        <h5 class="card-header"> Total de la compra</h5>
        <div class="card-body">
          <h5 class="card-title">subtotal</h5>
          <p class="card-text">{{ calcularTotal() |  currency:'ARS':'symbol':'1.0-0':'es-AR' }}</p>
          <button mat-raised-button color="primary" (click)="confirmarCompra()">Confirmar Compra</button>
        </div>
      </div>
    </div>
  </div>
</div>
   
    