.example-spacer {
  flex: 1 1 auto;
}

img {
  width: 70px;
  height: 70px;
}

.btn-close{
  background-color: #ffffff;
  box-shadow:0px 0px 5px rgb(0, 5, 101);
}

/* general canva */
.offcanvas {
  background-color: #0314a5;
  box-shadow:0px 0px 5px rgb(0, 5, 101);
}

.offcanvas-body {
  background-color: #c9c9c9;
  box-shadow:0px 0px 5px rgb(0, 5, 101);
}

.ptn-ofcanvas {
  margin-top:2px;
  border-radius: 10px;
  border-color:black;
  background-color: #0517c0;
  box-shadow:0px 0px 5px rgb(0, 5, 101);
}

/*Declaramos con palabra reservada MEDIA -> Dispositivos pequeños (ej: celular) */
@media (min-width:300px) and (max-width:700px) {
  mat-toolbar {
    background-color: aqua;
  }

  #menuInicio {
    display: none;
  }

  #menuProducto {
    display: none;
  }
}

/* Dispositivos mas grandes (ej: computadora)*/
@media (min-width:700px) {
  mat-toolbar {
    background-color: blueviolet;
  }

  #menuSecciones {
    display: none;
  }
}

.spacer {
  flex: 1 1 auto;
}

.list-group-item {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.list-group-item img {
  max-width: 50px;
  /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin-right: 10px;
}

.list-group-item div {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-toolbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

button {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.mat-warn {
  background-color: var(--warn-color);
  color: var(--text-color);
}

.mat-card {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-menu {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-slide-toggle-thumb {
  background-color: var(--primary-color);
}

.mat-slide-toggle-bar {
  background-color: var(--accent-color);
}

/* Aplica las variables a otros componentes según sea necesario */
/* Variables para el tema claro */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #6200ea;
  /* Color frío */
  --accent-color: #ff9800;
  /* Color cálido */
  --warn-color: #f44336;
  /* Color cálido */
}

/* Variables para el tema oscuro */
:root.dark-theme {
  --background-color: #220f38;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  /* Color frío */
  --accent-color: #ff5722;
  /* Color cálido */
  --warn-color: #e91e63;
  /* Color cálido */
}