<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">imagen</th>
            <th scope="col">nombre</th>
            <th scope="col">precio</th>
            <th scope="col">descripcion</th>
            <th scope="col">categoria</th>
            <th scope="col">acciones</th>
        </tr>
    </thead> 

    <tbody>
        <tr *ngFor="let producto of coleccionProductos">
            <th scope="row">1</th>
            <td>
                <img src="{{producto.imagen}}" alt="{{producto.alt}}" width="200px">
            </td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.categoria}}</td>

            <!--ACCIONES-->
            <td>
              <!--mostrarEditar() recibe como parametro el producto seleccionado o iterado en esa fila-->
                <button id="btn-eddit" title="Editar" type="button" class="btn btn-outline-warning"
                data-bs-toggle="modal" data-bs-target="#editarProducto" (click)="mostrarEditar(producto)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>
              <!--mostrarBorrar recibe como parametro el producto seleccinado o iterado en esa fila-->
               <button id="btn-delete" title="Eliminar" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" 
               data-bs-target="#eliminarProducto" (click)="mostrarBorrar(producto)">
               <mat-icon>delete</mat-icon>
              </button> 
              
            </td>
        </tr>
    </tbody>
</table>

<!-- BOTON PARA AGREGAR PRODUCTOS -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
    Agregar producto
  </button>
  
  <!-- MODAL PARA AGREGAR PRODUCTOS -->
  <div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--MODAL CUERPO-->
        <div [formGroup]="producto" class="modal-body">
          <div class="mb-3">
            <label class="form-label">ingrese el nombre del producto:</label>
            <input class="form-control" type="text" formControlName="nombre" placeholder="EJ.: Media de chancho">
          </div>

          <div class="mb-3">
            <label class="form-label">ingrese la descripcion del producto:</label>
            <input class="form-control" type="text" formControlName="descripcion" placeholder="EJ.: Media de chancho calentitas">
          </div>

          <div class="mb-3">
            <label class="form-label">ingrese el precio:</label>
            <input class="form-control" type="number" formControlName="precio" placeholder="EJ.: $100">
          </div>

          <div class="mb-3">
            <label class="form-label">Selecione una categoria:
            <input class="form-control" class="form-select" formControlName="categoria">
            <option selected>Elija una opcion</option>
            <option value="alimentacion">Alimentación</option>
            <option value="indumentaria">Indumentaria</option>
            <option value="Juguete">Juguete</option>
          </label>
          </div>


          <div class="mb-3">
            <label class="form-label">ingrese una imagen:</label>
            <input class="form-control" type="text" formControlName="imagen" placeholder="Ingrese vinculo de una imagen">
          </div>


          <div class="mb-3">
            <label class="form-label">ingrese texto alternativo:</label>
            <input class="form-control" type="text" formControlName="alt" placeholder="Ingrese un texto alternativo">
          </div>

          

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="agregarProducto()">Guardar</button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!--MODAL PARA EDITAR PRODUCTOS-->
  <div class="modal fade" id="editarProducto" *ngFor="let productoEdit of coleccionProductos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">edite el siguente producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!---->
        <div [formGroup]="producto" class="modal-body">
          <div class="mb-3">
            <label class="form-label">ingrese el nombre del producto:</label>
            <input class="form-control" type="text" formControlName="nombre" placeholder="{{productoEdit.nombre}}">
          </div>

          <div class="mb-3">
            <label class="form-label">ingrese la descripcion del producto:</label>
            <input class="form-control" type="text" formControlName="descripcion" placeholder="{{productoEdit.descripcion}}">
          </div>

          <div class="mb-3">
            <label class="form-label">ingrese el precio:</label>
            <input class="form-control" type="number" formControlName="precio" placeholder="{{productoEdit.precio}}">
          </div>

          <div class="mb-3">
            <label class="form-label">Seleccione una categoría:</label>
            <select class="form-control form-select" formControlName="categoria">
                <option selected>Elija una opcion</option>
                <option value="alimentacion"></option>
                <option value="indumentaria">Indumentaria</option>
                <option value="juguetes">Jugue</option>
            </select>
        </div>

          <div class="mb-3">
            <label class="form-label">ingrese una imagen:</label>
            <input class="form-control" type="text" formControlName="imagen" placeholder="{{productoEdit.imagen}}">
          </div>


          <div class="mb-3">
            <label class="form-label">ingrese texto alternativo:</label>
            <input class="form-control" type="text" formControlName="alt" placeholder="{{productoEdit.alt}}">
          </div>

          

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="editarProducto()">Guardar cambios</button>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>.

  <!--MODAL PARA ELIMINAR PRODUCTO-->
<div class="modal fade" *ngIf="modalVisibleProducto" id="eliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estas seguro de eliminar el producto?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{productoSeleccionado.nombre}}
          {{productoSeleccionado.nombre}}
        <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}" width="400px">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="borrarProducto()">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>