<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="footer.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <div class="footer-links">
            <h4>Compañia</h4>
            <ul>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Nuestros servicios</a></li>
              <li><a href="#">Politica de privacidad</a></li>
              <li><a href="#">Afiliate</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>Ayuda</h4>
            <ul>
              <li><a href="#">Preguntas</a></li>
              <li><a href="#">Compras</a></li>
              <li><a href="#">Envios</a></li>
              <li><a href="#">Estatus de orden</a></li>
              <li><a href="#">Pago</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>Siguenos</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="notificaciones-links">
              <h4>Notificaciones</h4>
              <br>
              
                    <label for="Input1" class="form-label" >Ingrese su correo</label>
                    <input id="Input1" type="email" class="form-control" placeholder="@email.com">
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>