<html lang="en">

<head>
  <meta charset="utf-8">
  <title>carrusel 3d</title>
</head>

<!--asignamos el titulo del carrusel y las imagenes de este-->

<body>
  <h1><p>Lo mas vendido</p></h1>
  <div class="content-all">
    <div class="content-carrousel">
      <figure><img src="../../../../../assets/imagenes/img9.jpg"> </figure>
      <figure><img src="../../../../../assets/imagenes/vendido1.avif"> <div class="capa"><h3>slee123 dw</h3> <p> <b>hola que tal estoy probando jajajajajajajaja</b></p></div></figure>
      <figure><img src="../../../../../assets/imagenes/vendido2.png"><div class="capa"><h3>slee dw</h3> <p> <b>hola que tal estoy probando jajajajajajajaja</b></p></div></figure>
      <figure><img src="../../../../../assets/imagenes/vendido3.jpg"><div class="capa"><h3>slee dw</h3> <p> <b>hola que tal estoy probando jajajajajajajaja</b></p></div></figure>
      <figure><img src="../../../../../assets/imagenes/vendido4.jpg"><div class="capa"><h3>slee dw</h3> <p> <b>hola que tal estoy probando jajajajajajajaja</b></p></div></figure>
      <figure><img src="../../../../../assets/imagenes/vendido5.jpg"><div class="capa"><h3>slee dw</h3> <p> <b>hola que tal estoy probando jajajajajajajaja</b></p></div></figure>
      <figure><img src="../../../../../assets/imagenes/vendido6.webp"><div class="capa"><h3>slee dw</h3> <p> <b>hola que tal estoy probando jajajajajajajaja</b></p></div></figure>
      <figure><img src="../../../../../assets/imagenes/casco - copia.jpg"><div class="capa"><h3>slee dw</h3> <p> <b>hola que tal estoy probando jajajajajajajaja</b></p></div></figure>
      <figure><img src="../../../../../assets/imagenes/vendido8.jpg"><div class="capa"><h3>slee dw</h3> <p> <b>hola que tal estoy probando jajajajajajajaja</b></p></div></figure>
    </div>
  </div>
</body>

<!--../../../../../assets/imagenes/img9.-->

</html>