.container{
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.boton{
    width: 120px;
    margin: auto;
}

.mat-toolbar {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  button {
    background-color: var(--accent-color);
    color: var(--text-color);
  }
  .mat-warn {
    background-color: var(--warn-color);
    color: var(--text-color);
  }
  .mat-card {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .mat-menu {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .mat-slide-toggle-thumb {
    background-color: var(--primary-color);
  }
  .mat-slide-toggle-bar {
    background-color: var(--accent-color);
  }
  /* Aplica las variables a otros componentes según sea necesario */
  /* Variables para el tema claro */
  :root {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: #6200ea; /* Color frío */
    --accent-color: #ff9800;  /* Color cálido */
    --warn-color: #f44336;    /* Color cálido */
  }
  /* Variables para el tema oscuro */
  :root.dark-theme {
    --background-color: #220f38;
    --text-color: #ffffff;
    --primary-color: #bb86fc; /* Color frío */
    --accent-color: #ff5722;  /* Color cálido */
    --warn-color: #e91e63;    /* Color cálido */
  }