@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

h1 {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* Variables para el tema claro */

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-toolbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

button {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.mat-warn {
  background-color: var(--warn-color);
  color: var(--text-color);
}

.mat-card {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-menu {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mat-slide-toggle-thumb {
  background-color: var(--primary-color);
}

.mat-slide-toggle-bar {
  background-color: var(--accent-color);
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-top: 450px; /* Espacio superior */
}


/* Aplica las variables a otros componentes según sea necesario */

/* Variables para el tema claro */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #27ea00; /* Color frío */
  --accent-color: #ff9800;  /* Color cálido */
  --warn-color: #3f0c09;    /* Color cálido */
}

/* Variables para el tema oscuro */
:root.dark-theme {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #6700e6; /* Color frío */
  --accent-color: #ff5722;  /* Color cálido */
  --warn-color: #46071c;    /* Color cálido */
}