<div class="row">
  <mat-card class="col" *ngFor="let producto of coleccionProducto" appearance="outlined">
      <mat-card-header>
        <mat-card-title class="titulo">{{producto.nombre}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{producto.imagen}}" alt="{{producto.alt}}" height="200px" width="200px">
      <mat-card-content>
        <p class="descripcion">{{producto.descripcion}}</p>
        <mat-card-subtitle class="precio" >${{producto.precio}}</mat-card-subtitle>
      </mat-card-content>
      <mat-card-actions>
       
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" 
        data-bs-target="#modalCard" (click)="mostrarVer(producto)"
        mat-button>ver mas</button>
        <div class="modal fade" id="modalCard" *ngIf="modalVisible" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
      
                  <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">{{productoSeleccionado.nombre}}</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
      
                  <div class="modal-body">
                      <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}" width="100px">
      
                      <div class="mb-3">
                          {{productoSeleccionado.descripcion}}
                      </div>
      
                      <div class="mb-3">
                          {{productoSeleccionado.precio}}
                      </div>
                  </div>
      
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="agregarProducto(productoSeleccionado)">Agregar</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
              </div>
          </div>
      </div>
                  
    
        <button type="button" class="btn btn-primary" (click)="agregarProducto(producto)">Agregar al carrito</button>
      </mat-card-actions>
    </mat-card>